<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>

<body>
    <header>
        <span>
            <h2>Logo</h2>
        </span>
        <span>
            <ul>
                <li><a class="Link" href="/">Home</a></li>
                <li><a class="Link" href="/accounts/login/">Login</a></li>
                <li><a class="Link" href="/accounts/emailsignup/">Signin</a></li>
            </ul>
        </span>
    </header>
    <br>
    <main>
        <div class="MainBox">
            <span class="MainBoxUnder">
                <br><br>
                <h2>Hii I am Nitin 😊</h2>
                <br>
                <p>I'm Nitin, based in New Delhi, India. Studying BCA and specializing in MERN stack development. I turn
                    ideas into web solutions. 🖥💻</p>
                <br />
            </span>
            <span class="MainBoxUnder">
                <img src="https://images.unsplash.com/photo-1592806088932-05058af0ad8d?auto=format&fit=crop&q=80&w=1635&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="LogoMain" alt="">
            </span>
        </div>
        <h2 style="text-align: center; padding: 10px;">Why Sign up 👀 </h2>
        <div class="MainBox2">
            <span class="Mainbox2Under">
                <ul>
                    <ol>1. Read My all Blog ✅ </ol>
                    <ol>2. All My Project ✅ </ol>
                    <ol>3. Free Resouce ✅ </ol>
                    <ol>4. Notes ✅ </ol>
                    <ol>5. ChatWithMe ✅ </ol>
                </ul>
            </span>
            <span class="Mainbox2Under">
                <img src="https://plus.unsplash.com/premium_photo-1682310071124-33632135b2ee?auto=format&fit=crop&q=80&w=1812&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="LogoHome" alt="">
            </span>
        </div>
    </main>
    <footer>
        <span>
            <div class="List">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="https://www.linkedin.com/in/nitin0202/">Linkdin</a></li>
                    <li><a href="/">Blog</a></li>
                    <li><a href="https://www.youtube.com/@Nitin0202">Youtube</a></li>
                </ul>
            </div>
        </span>
        <div>
            <p>All copyright recved : 🌎 </p>
        </div>
    </footer>
</body>

</html>